.card {
  background-color: #818791;
  max-width: 200px;
  border: 2px solid black;
  border-radius: 5px;
  font-family:  sans-serif;
  margin: 20px;
  padding: 2px;
  text-align: center;
  display: inline-block;
  
}

.card img {
  width: 100%;

}